@model Fixture

@{
    ViewData["Title"] = "EditResult";
}

<h1>Edit Result Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FixtureID" />
            <div class="form-group" hidden>
                @Html.LabelFor(model => model.Team, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TeamID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FixtureType, new { @class = "control-label col-md-10" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FixtureType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FixtureDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FixtureDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.HomeOrAway, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HomeOrAway, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Opponent, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Opponent, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                <label asp-for="OurScore" class="control-label"></label>
                <div class="col-md-10">
                    <input asp-for="OurScore" class="form-control col-md-10" />
                    <span asp-validation-for="OurScore" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="OpponentScore" class="control-label"></label>
                <div class="col-md-10">
                    <input asp-for="OpponentScore" class="form-control col-md-10" />
                    <span asp-validation-for="OpponentScore" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ResultDescription" class="control-label"></label>
                <div class="col-md-10">
                    <select asp-for="ResultDescription"
                            class="form-control col-md-10"
                            asp-items="Html.GetEnumSelectList<Rovers4.Models.ResultDescription>()">
                        <option>Select type ...</option>
                    </select>
                    <span asp-validation-for="ResultDescription" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MatchReport" class="control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="MatchReport" class="form-control" cols="150" rows="20" placeholder="Enter Match Report details..."></textarea>
                    <span asp-validation-for="MatchReport" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Team" asp-action="Index">Back to Team List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
