@model IEnumerable<Rovers4.Models.Fixture>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FixtureType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FixtureDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Location)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.HomeOrAway)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.MeetTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetLocation)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.OurScore)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Opponent)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.OpponentScore)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FinalScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchReport)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FixtureType)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FullText)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.HomeOrAway)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.MeetTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetLocation)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.OurScore)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Opponent)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.OpponentScore)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FinalScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchReport)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FixtureID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FixtureID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FixtureID">Delete</a> |
                <a asp-action="AddResult" asp-route-id="@item.FixtureID">Add Result</a> |
                <a asp-action="ResultDetails" asp-route-id="@item.FixtureID">Result Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
