@model Fixture

@{
    ViewData["Title"] = "ResultDetails";
}

<h1>Result Details</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixtureType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixtureType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixtureDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixtureDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomeOrAway)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomeOrAway)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Opponent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Opponent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResultDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResultDescription)
        </dd>

</div>

<div>
    <h3>@Html.DisplayNameFor(model => model.MatchReport)</h3>
    <p>
        @Html.DisplayFor(model => model.MatchReport)
    </p>
</div>

<div>
    <a class="btn btn-secondary" asp-action="EditResult" asp-route-id="@Model.FixtureID">Edit</a> 
    <a class="btn btn-dark" asp-controller="Team" asp-action="Index">Back to Team List</a>
</div>
