@model FixtureListViewModel

@{
    ViewData["Title"] = "Team Fixture List";
}

<h1>@Model.CurrentTeam</h1>

@if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
{
    <p>
        <a asp-controller="Fixture" asp-action="Create">Add Fixture</a><span>&nbsp; &nbsp;| &nbsp; &nbsp;</span>

        @foreach (var team in @Model.Teams)
        {
            if (team.Name == Model.CurrentTeam)
            {
                <a asp-controller="Team" asp-action="sendGridEmail" asp-route-id="@team.TeamID">Send Fixture Alert</a><span>&nbsp; &nbsp;&nbsp; &nbsp;</span>

            }
        }
    </p>
}

@if (Model.JanuaryFixtures.Count() > 0)
{
    <section>
        <header>
            <h3>
                January
            </h3>
        </header>
        @foreach (var fixture in Model.JanuaryFixtures)
        {
            <div class="container" id="fixtureCon">
                <div class="row" id="fixtureRow">
                    <p id="fixtureP">
                    <p class="col-sm-3" id="datesText">@Html.DisplayFor(modelItem => fixture.FullDatesText)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p class="col" id="fixtureText">Rathfarnham Rovers&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.FinalScore)&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.Opponent)&nbsp;&nbsp;(@Html.DisplayFor(modelItem => fixture.HomeOrAwayToShortString))</p>
                    </p>
                    @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                    {
                        <p class="col-sm-3">
                            <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a> |
                            <a asp-controller="fixture" asp-action="Edit" asp-route-id="@fixture.FixtureID">Edit</a> |
                            <a asp-controller="fixture" asp-action="Delete" asp-route-id="@fixture.FixtureID">Delete</a> |
                            @if (fixture.OurScore == null)
                            {
                                <a asp-controller="fixture" asp-action="AddResult" asp-route-id="@fixture.FixtureID">Add Result</a>
                            }
                            else
                            {
                                <a asp-controller="fixture" asp-action="EditResult" asp-route-id="@fixture.FixtureID">Edit Result</a>
                            }
                        </p>
                    }
                    else if ((this.User.IsInRole("Team Admin")) || (this.User.IsInRole("Member")))
                    {

                        <p class="col-sm-3">
                            <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a>
                        </p>
                    }
                </div>
            </div>
        }
    </section>
}

@if (Model.FebruaryFixtures.Count() > 0)
{
    <section>
        <header>
            <h3 id="FixtureHeader">
                February
            </h3>
        </header>
        @foreach (var fixture in Model.FebruaryFixtures)
        {
            <div class="container" id="fixtureCon">
                <div class="row" id="fixtureRow">
                    <p id="fixtureP">
                    <p class="col-sm-3" id="datesText">@Html.DisplayFor(modelItem => fixture.FullDatesText)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p class="col" id="fixtureText">Rathfarnham Rovers&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.FinalScore)&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.Opponent)&nbsp;&nbsp;(@Html.DisplayFor(modelItem => fixture.HomeOrAwayToShortString))</p>
                    </p>
                    @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                    {
                        <p class="col-sm-3">
                            <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a> |
                            <a asp-controller="fixture" asp-action="Edit" asp-route-id="@fixture.FixtureID">Edit</a> |
                            <a asp-controller="fixture" asp-action="Delete" asp-route-id="@fixture.FixtureID">Delete</a> |
                            @if (fixture.OurScore == null)
                            {
                                <a asp-controller="fixture" asp-action="AddResult" asp-route-id="@fixture.FixtureID">Add Result</a>
                            }
                            else
                            {
                                <a asp-controller="fixture" asp-action="EditResult" asp-route-id="@fixture.FixtureID">Edit Result</a>
                            }
                        </p>
                    }
                    else if ((this.User.IsInRole("Team Admin")) || (this.User.IsInRole("Member")))
                    {

                        <p class="col-sm-3">
                            <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a>
                        </p>
                    }
                </div>
            </div>
        }
    </section>
}

@if (Model.MarchFixtures.Count() > 0)
{
    <section>
        <header>
            <h3 id="FixtureHeader">
                March
            </h3>
        </header>
        @foreach (var fixture in Model.MarchFixtures)
        {
            <div class="container" id="fixtureCon">
                <div class="row" id="fixtureRow">
                    <p id="fixtureP">
                    <p class="col-sm-3" id="datesText">@Html.DisplayFor(modelItem => fixture.FullDatesText)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p class="col" id="fixtureText">Rathfarnham Rovers&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.FinalScore)&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.Opponent)&nbsp;&nbsp;(@Html.DisplayFor(modelItem => fixture.HomeOrAwayToShortString))</p>
                    </p>
                    @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                    {
                        <p class="col-sm-3">
                            <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a> |
                            <a asp-controller="fixture" asp-action="Edit" asp-route-id="@fixture.FixtureID">Edit</a> |
                            <a asp-controller="fixture" asp-action="Delete" asp-route-id="@fixture.FixtureID">Delete</a> |
                            @if (fixture.OurScore == null)
                             {
                                 <a asp-controller="fixture" asp-action="AddResult" asp-route-id="@fixture.FixtureID">Add Result</a>
                             }
                             else
                             {
                                 <a asp-controller="fixture" asp-action="EditResult" asp-route-id="@fixture.FixtureID">Edit Result</a>
                             }<a asp-controller="fixture" asp-action="AddResult" asp-route-id="@fixture.FixtureID">Add Result</a>
                        </p>
                    }
                    else if ((this.User.IsInRole("Team Admin")) || (this.User.IsInRole("Member")))
                    {

                        <p class="col-sm-3">
                            <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a>
                        </p>
                    }
                </div>
            </div>
        }
    </section>
}

@if (Model.AprilFixtures.Count() > 0)
{
    <section>
        <header>
            <h3 id="FixtureHeader">
                April
            </h3>
        </header>
        @foreach (var fixture in Model.AprilFixtures)
        {
            <div class="container" id="fixtureCon">
                <div class="row" id="fixtureRow">
                    <p id="fixtureP">
                    <p class="col-sm-3" id="datesText">@Html.DisplayFor(modelItem => fixture.FullDatesText)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p class="col" id="fixtureText">Rathfarnham Rovers&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.FinalScore)&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.Opponent)&nbsp;&nbsp;(@Html.DisplayFor(modelItem => fixture.HomeOrAwayToShortString))</p>
                    </p>
                    @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                    {
                         <p class="col-sm-3">
                        <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a> |
                        <a asp-controller="fixture" asp-action="Edit" asp-route-id="@fixture.FixtureID">Edit</a> |
                        <a asp-controller="fixture" asp-action="Delete" asp-route-id="@fixture.FixtureID">Delete</a> |
                        @if (fixture.OurScore == null)
                        {
                            <a asp-controller="fixture" asp-action="AddResult" asp-route-id="@fixture.FixtureID">Add Result</a>
                        }
                        else
                        {
                            <a asp-controller="fixture" asp-action="EditResult" asp-route-id="@fixture.FixtureID">Edit Result</a>
                        }
                        </p>
                    }
                    else if ((this.User.IsInRole("Team Admin")) || (this.User.IsInRole("Member")))
                    {
                        <p class="col-sm-3">
                            <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a>
                        </p>
                    }
                </div>
            </div>
        }
    </section>
}

@if (Model.MayFixtures.Count() > 0)
{
    <section>
        <header>
            <h3 id="FixtureHeader">
                May
            </h3>
        </header>
        @foreach (var fixture in Model.MayFixtures)
        {
            <div class="container" id="fixtureCon">
                <div class="row" id="fixtureRow">
                    <p id="fixtureP">
                    <p class="col-sm-3" id="datesText">@Html.DisplayFor(modelItem => fixture.FullDatesText)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p class="col" id="fixtureText">Rathfarnham Rovers&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.FinalScore)&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.Opponent)&nbsp;&nbsp;(@Html.DisplayFor(modelItem => fixture.HomeOrAwayToShortString))</p>
                    </p>
                    @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                    {
                        <p class="col-sm-3">
                            <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a> |
                            <a asp-controller="fixture" asp-action="Edit" asp-route-id="@fixture.FixtureID">Edit</a> |
                            <a asp-controller="fixture" asp-action="Delete" asp-route-id="@fixture.FixtureID">Delete</a> |
                            @if (fixture.OurScore == null)
                             {
                                 <a asp-controller="fixture" asp-action="AddResult" asp-route-id="@fixture.FixtureID">Add Result</a>
                             }
                             else
                             {
                                 <a asp-controller="fixture" asp-action="EditResult" asp-route-id="@fixture.FixtureID">Edit Result</a>
                             }
                        </p>
                    }
                    else if ((this.User.IsInRole("Team Admin")) || (this.User.IsInRole("Member")))
                    {

                        <p class="col-sm-3">
                            <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a>
                        </p>
                    }
                </div>
            </div>
        }
    </section>
}

@if (Model.JuneFixtures.Count() > 0)
{
    <section>
        <header>
            <h3 id="FixtureHeader">
                June
            </h3><header>
                @foreach (var fixture in Model.JuneFixtures)
                {
                     <div class="container" id="fixtureCon">
                         <div class="row" id="fixtureRow">
                             <p id="fixtureP">
                             <p class="col-sm-3" id="datesText">@Html.DisplayFor(modelItem => fixture.FullDatesText)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                             <p class="col" id="fixtureText">Rathfarnham Rovers&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.FinalScore)&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.Opponent)&nbsp;&nbsp;(@Html.DisplayFor(modelItem => fixture.HomeOrAwayToShortString))</p>
                             </p>
                             @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                             {
                                 <p class="col-sm-3">
                                     <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a> |
                                     <a asp-controller="fixture" asp-action="Edit" asp-route-id="@fixture.FixtureID">Edit</a> |
                                     <a asp-controller="fixture" asp-action="Delete" asp-route-id="@fixture.FixtureID">Delete</a> |
                                     @if (fixture.OurScore == null)
                                     {
                                         <a asp-controller="fixture" asp-action="AddResult" asp-route-id="@fixture.FixtureID">Add Result</a>
                                     }
                                     else
                                     {
                                         <a asp-controller="fixture" asp-action="EditResult" asp-route-id="@fixture.FixtureID">Edit Result</a>
                                     }
                                 </p>
                             }
                             else if ((this.User.IsInRole("Team Admin")) || (this.User.IsInRole("Member")))
                             {

                                 <p class="col-sm-3">
                                     <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a>
                                 </p>
                             }
                         </div>
                     </div>
                }
    </section>
}

@if (Model.JulyFixtures.Count() > 0)
{
    <section>
        <header>
            <h3 id="FixtureHeader">
                July
            </h3><header>
                @foreach (var fixture in Model.JulyFixtures)
                {
                     <div class="container" id="fixtureCon">
                         <div class="row" id="fixtureRow">
                             <p id="fixtureP">
                             <p class="col-sm-3" id="datesText">@Html.DisplayFor(modelItem => fixture.FullDatesText)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                             <p class="col" id="fixtureText">Rathfarnham Rovers&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.FinalScore)&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.Opponent)&nbsp;&nbsp;(@Html.DisplayFor(modelItem => fixture.HomeOrAwayToShortString))</p>
                             </p>
                             @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                             {
                                 <p class="col-sm-3">
                                     <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a> |
                                     <a asp-controller="fixture" asp-action="Edit" asp-route-id="@fixture.FixtureID">Edit</a> |
                                     <a asp-controller="fixture" asp-action="Delete" asp-route-id="@fixture.FixtureID">Delete</a> |
                                     @if (fixture.OurScore == null)
                                     {
                                         <a asp-controller="fixture" asp-action="AddResult" asp-route-id="@fixture.FixtureID">Add Result</a>
                                     }
                                     else
                                     {
                                         <a asp-controller="fixture" asp-action="EditResult" asp-route-id="@fixture.FixtureID">Edit Result</a>
                                     }
                                 </p>
                             }
                             else if ((this.User.IsInRole("Team Admin")) || (this.User.IsInRole("Member")))
                             {

                                 <p class="col-sm-3">
                                     <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a>
                                 </p>
                             }
                         </div>
                     </div>
                }
    </section>
}

@if (Model.AugustFixtures.Count() > 0)
{
    <section>
        <header>
            <h3 id="FixtureHeader">
                August
            </h3><header>
                @foreach (var fixture in Model.AugustFixtures)
                {
                     <div class="container" id="fixtureCon">
                         <div class="row" id="fixtureRow">
                             <p id="fixtureP">
                             <p class="col-sm-3" id="datesText">@Html.DisplayFor(modelItem => fixture.FullDatesText)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                             <p class="col" id="fixtureText">Rathfarnham Rovers&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.FinalScore)&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.Opponent)&nbsp;&nbsp;(@Html.DisplayFor(modelItem => fixture.HomeOrAwayToShortString))</p>
                             </p>
                             @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                             {
                                 <p class="col-sm-3">
                                     <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a> |
                                     <a asp-controller="fixture" asp-action="Edit" asp-route-id="@fixture.FixtureID">Edit</a> |
                                     <a asp-controller="fixture" asp-action="Delete" asp-route-id="@fixture.FixtureID">Delete</a> |
                                     @if (fixture.OurScore == null)
                                     {
                                         <a asp-controller="fixture" asp-action="AddResult" asp-route-id="@fixture.FixtureID">Add Result</a>
                                     }
                                     else
                                     {
                                         <a asp-controller="fixture" asp-action="EditResult" asp-route-id="@fixture.FixtureID">Edit Result</a>
                                     }
                                 </p>
                             }
                             else if ((this.User.IsInRole("Team Admin")) || (this.User.IsInRole("Member")))
                             {

                                 <p class="col-sm-3">
                                     <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a>
                                 </p>
                             }
                         </div>
                     </div>
                }
    </section>
}

@if (Model.SeptemberFixtures.Count() > 0)
{
    <section>
        <header>
            <h3 id="FixtureHeader">
                September
            </h3><header>
                @foreach (var fixture in Model.SeptemberFixtures)
                {
                     <div class="container" id="fixtureCon">
                         <div class="row" id="fixtureRow">
                             <p id="fixtureP">
                             <p class="col-sm-3" id="datesText">@Html.DisplayFor(modelItem => fixture.FullDatesText)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                             <p class="col" id="fixtureText">Rathfarnham Rovers&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.FinalScore)&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.Opponent)&nbsp;&nbsp;(@Html.DisplayFor(modelItem => fixture.HomeOrAwayToShortString))</p>
                             </p>
                             @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                             {
                                 <p class="col-sm-3">
                                     <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a> |
                                     <a asp-controller="fixture" asp-action="Edit" asp-route-id="@fixture.FixtureID">Edit</a> |
                                     <a asp-controller="fixture" asp-action="Delete" asp-route-id="@fixture.FixtureID">Delete</a> |
                                     @if (fixture.OurScore == null)
                                     {
                                         <a asp-controller="fixture" asp-action="AddResult" asp-route-id="@fixture.FixtureID">Add Result</a>
                                     }
                                     else
                                     {
                                         <a asp-controller="fixture" asp-action="EditResult" asp-route-id="@fixture.FixtureID">Edit Result</a>
                                     }
                                 </p>
                             }
                             else if ((this.User.IsInRole("Team Admin")) || (this.User.IsInRole("Member")))
                             {

                                 <p class="col-sm-3">
                                     <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a>
                                 </p>
                             }
                         </div>
                     </div>
                }
    </section>
}

@if (Model.OctoberFixtures.Count() > 0)
{
    <section>
        <header>
            <h3 id="FixtureHeader">
                October
            </h3><header>
                @foreach (var fixture in Model.OctoberFixtures)
                {
                     <div class="container" id="fixtureCon">
                         <div class="row" id="fixtureRow">
                             <p id="fixtureP">
                             <p class="col-sm-3" id="datesText">@Html.DisplayFor(modelItem => fixture.FullDatesText)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                             <p class="col" id="fixtureText">Rathfarnham Rovers&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.FinalScore)&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.Opponent)&nbsp;&nbsp;(@Html.DisplayFor(modelItem => fixture.HomeOrAwayToShortString))</p>
                             </p>
                             @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                             {
                                 <p class="col-sm-3">
                                     <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a> |
                                     <a asp-controller="fixture" asp-action="Edit" asp-route-id="@fixture.FixtureID">Edit</a> |
                                     <a asp-controller="fixture" asp-action="Delete" asp-route-id="@fixture.FixtureID">Delete</a> |
                                    @if (fixture.OurScore == null)
                                     {
                                         <a asp-controller="fixture" asp-action="AddResult" asp-route-id="@fixture.FixtureID">Add Result</a>
                                     }
                                     else
                                     {
                                         <a asp-controller="fixture" asp-action="EditResult" asp-route-id="@fixture.FixtureID">Edit Result</a>
                                     }
                                 </p>
                             }
                             else if ((this.User.IsInRole("Team Admin")) || (this.User.IsInRole("Member")))
                             {

                                 <p class="col-sm-3">
                                     <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a>
                                 </p>
                             }
                         </div>
                     </div>
                }
    </section>
}

@if (Model.NovemberFixtures.Count() > 0)
{
    <section>
        <header>
            <h3 id="FixtureHeader">
                November
            </h3><header>
                @foreach (var fixture in Model.NovemberFixtures)
                {
                     <div class="container" id="fixtureCon">
                         <div class="row" id="fixtureRow">
                             <p id="fixtureP">
                             <p class="col-sm-3" id="datesText">@Html.DisplayFor(modelItem => fixture.FullDatesText)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                             <p class="col" id="fixtureText">Rathfarnham Rovers&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.FinalScore)&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.Opponent)&nbsp;&nbsp;(@Html.DisplayFor(modelItem => fixture.HomeOrAwayToShortString))</p>
                             </p>
                             @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                             {
                                 <p class="col-sm-3">
                                     <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a> |
                                     <a asp-controller="fixture" asp-action="Edit" asp-route-id="@fixture.FixtureID">Edit</a> |
                                     <a asp-controller="fixture" asp-action="Delete" asp-route-id="@fixture.FixtureID">Delete</a> |
                                     @if (fixture.OurScore == null)
                                     {
                                         <a asp-controller="fixture" asp-action="AddResult" asp-route-id="@fixture.FixtureID">Add Result</a>
                                     }
                                     else
                                     {
                                         <a asp-controller="fixture" asp-action="EditResult" asp-route-id="@fixture.FixtureID">Edit Result</a>
                                     }
                                 </p>
                             }
                             else if ((this.User.IsInRole("Team Admin")) || (this.User.IsInRole("Member")))
                             {

                                 <p class="col-sm-3">
                                     <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a>
                                 </p>
                             }
                         </div>
                     </div>
                }
    </section>
}

@if (Model.DecemberFixtures.Count() > 0)
{
    <section>
        <header>
            <h3 id="FixtureHeader">
                December
            </h3><header>
                @foreach (var fixture in Model.DecemberFixtures)
                {
                     <div class="container" id="fixtureCon">
                         <div class="row" id="fixtureRow">
                             <p id="fixtureP">
                             <p class="col-sm-3" id="datesText">@Html.DisplayFor(modelItem => fixture.FullDatesText)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                             <p class="col" id="fixtureText">Rathfarnham Rovers&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.FinalScore)&nbsp;&nbsp;@Html.DisplayFor(modelItem => fixture.Opponent)&nbsp;&nbsp;(@Html.DisplayFor(modelItem => fixture.HomeOrAwayToShortString))</p>
                             </p>
                             @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                             {
                                 <p class="col-sm-3">
                                     <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a> |
                                     <a asp-controller="fixture" asp-action="Edit" asp-route-id="@fixture.FixtureID">Edit</a> |
                                     <a asp-controller="fixture" asp-action="Delete" asp-route-id="@fixture.FixtureID">Delete</a> |
                                     @if (fixture.OurScore == null)
                                     {
                                         <a asp-controller="fixture" asp-action="AddResult" asp-route-id="@fixture.FixtureID">Add Result</a>
                                     }
                                     else
                                     {
                                         <a asp-controller="fixture" asp-action="EditResult" asp-route-id="@fixture.FixtureID">Edit Result</a>
                                     }

                                 </p>
                             }
                             else if ((this.User.IsInRole("Team Admin")) || (this.User.IsInRole("Member")))
                             {

                                 <p class="col-sm-3">
                                     <a asp-controller="fixture" asp-action="ResultDetails" asp-route-id="@fixture.FixtureID">Match Report</a>
                                 </p>
                             }
                         </div>
                     </div>
                }
    </section>
}

<div class="justify-content-around" style="padding-top: 5em">
    <header>
        <h3>
            Team Statistics
        </h3>
    </header>
    <table id="fixtureTable" class="table" cellspacing="0">
        <thead>
            <tr>
                <th>
                    <p>Games Played</p>
                </th>
                <th>
                    <p>Wins</p>
                </th>
                <th>
                    <p>Losses</p>
                </th>
                <th>
                    <p>Draws</p>
                </th>
                <th>
                    <p>Goals For</p>
                </th>
                <th>
                    <p>Goals Against</p>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.GamesPlayed
                </td>
                <td>
                    @Model.TotalWins
                </td>
                <td>
                    @Model.TotalDraws
                </td>
                <td>
                    @Model.TotalLosses
                </td>
                <td>
                    @Model.GoalsFor
                </td>
                <td>
                    @Model.GoalsAgainst
                </td>
            </tr>
        </tbody>
    </table>
</div>