@model Rovers4.Models.PlayerStat

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete - @ViewBag.CurrentPlayer</h1>

<h3>Are you sure you want to delete Stats for @ViewBag.CurrentPlayer?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GamesPlayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GamesPlayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assists)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CleanSheet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CleanSheet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedCards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotmAward)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotmAward)
        </dd>
        <dt hidden class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonID)
        </dt>
        <dd hidden class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlayerStatID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-dark" asp-controller="Team" asp-action="Index">Back to Team List</a>
    </form>
</div>
