@model PlayerStatsViewModel

@{
    ViewData["Title"] = "PlayerStatList";
}

@*<h1>Rovers Players</h1>*@
<h4>@Model.CurrentPlayer</h4>

<table class="table">
    <tbody>
        @*<h5>Player Details</h5>*@
        @foreach (var staff in Model.Staff)
        {
            <dl class="row">
                @*<dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => staff.FullName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => staff.FullName)
                </dd>*@
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => staff.DOB)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => staff.DOB)
                </dd>
                @if (staff.PlayerPosition != null)
                {
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(modelItem => staff.PlayerPosition)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => staff.PlayerPosition)
                    </dd>
                }
                else
                {
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(modelItem => staff.MgmtRole)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => staff.MgmtRole)
                    </dd>
                }

                <div class="personImage">
                    <img src="@staff.Image" alt="">
                </div>

            </dl>
        }

        @foreach (var staff in Model.Staff)
        {
            <section>
                <h5>
                    Player Biography
                </h5>
                <p>@Html.DisplayFor(modelItem => staff.PersonBio)</p>
            </section>
        }

        @*Should only display header for players*@
        @foreach (var staff in Model.Staff)
        {
            if (staff.PersonType == PersonType.Player)
            {
                <h5>Player Statistics</h5>
                if (!Model.HasStats)
                {
                    <a asp-controller="PlayerStat" asp-action="Create">Add Stats</a>
                }
                else
                {
                    <a asp-controller="PlayerStat" asp-action="Edit" asp-route-id="@staff.PersonID">Update Stats</a>
                    <span>&nbsp; &nbsp;| &nbsp; &nbsp;</span>
                    <a asp-controller="PlayerStat" asp-action="Delete" asp-route-id="@staff.PersonID">Delete Stats</a>
                }
            }
        }


        @foreach (var stat in Model.Stats)
        {
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => stat.GamesPlayed)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => stat.GamesPlayed)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => stat.Goals)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => stat.Goals)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => stat.Assists)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => stat.Assists)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => stat.CleanSheet)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => stat.CleanSheet)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => stat.MotmAward)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => stat.MotmAward)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => stat.RedCards)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => stat.RedCards)
                </dd>
            </dl>
        }

    </tbody>
</table>

<a asp-controller="Team" asp-action="Index">Back to Team List</a>

