@model PlayerStatsViewModel

@{
    ViewData["Title"] = "PlayerStatList";
}

<div class="container" id="playerStatContainer">
    <div class="card"  id="playerStatCard">

        @foreach (var staff in Model.Staff)
        {
            <img class="card-img-top" src="@staff.Image" alt="Card image cap">
            <div class="card-body">
                <h3>@Model.CurrentPlayer</h3>
                @if (staff.PlayerPosition != null)
                {
                    <div class="card-img">
                        <h6 class="card-title text-blue" style="font-weight:bold">Position: @Html.DisplayFor(modelItem => staff.PlayerPosition)</h6>
                    </div>
                }
                else
                {
                    <div class="card-img">
                        <h6 class="card-title text-blue" style="font-weight:bold">Management Role: @Html.DisplayFor(modelItem => staff.MgmtRole)</h6>
                    </div>
                }
                <div class="card-img">
                    <h6 class="card-title text-blue" style="font-weight:bold">DOB: @Html.DisplayFor(modelItem => staff.DOB)</h6>
                </div>      
            </div>
        }
    </div>
</div>


<div class="container" id="playerStatContainer">
    @foreach (var staff in Model.Staff)
    {
        <section>
            <h3 style="padding-top: 2em">
                Player Biography
            </h3>
            <p>@Html.DisplayFor(modelItem => staff.PersonBio)</p>
        </section>
    }
</div>

<div class="container" id="playerStatContainer">
    @*Should only display header for players*@
    @foreach (var staff in Model.Staff)
    {
        if (staff.PersonType == PersonType.Player)
        {
            <h3 style="padding-top: 2rem" >Player Statistics</h3>
            if (!Model.HasStats)
            {
                <a class="btn btn-outline-success" asp-controller="PlayerStat" asp-action="Create">Add Stats</a>
            }
            else
            {
                <a class="btn btn-secondary" asp-controller="PlayerStat" asp-action="Edit" asp-route-id="@staff.PersonID">Edit Stats</a>
            }
        }
    }
</div>

    @foreach (var stat in Model.Stats)
    {
        <div class="justify-content-around" style="padding-top: 1rem">
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(modelItem => stat.GamesPlayed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => stat.Goals)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => stat.Assists)
                        </th>

                        <th>
                            @Html.DisplayNameFor(modelItem => stat.CleanSheet)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => stat.MotmAward)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => stat.RedCards)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => stat.GamesPlayed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => stat.Goals)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => stat.Assists)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => stat.CleanSheet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => stat.MotmAward)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => stat.RedCards)
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a class="btn btn-dark" asp-controller="Team" asp-action="Index">Back to Team List</a>
            </div>
        </div>
    </div>
    }





