@model Team

@{
    ViewData["Title"] = "Details";
}

<h1>Team Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Club)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Club.Name)
        </dd>
   
    </dl>
</div>
<div>
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Name">Edit</a>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>
