@model PlayersListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Rathfarnham Rovers Teams</h1>

@if (this.User.IsInRole("Super Admin"))
{
    <p>
        <a asp-action="Create">Add Team</a>
    </p>
}

    @foreach (var team in @Model.Teams)
    {
        <div class="container" id="teamCaption">
            <h6 class="row" id="teamName">
                <h4 class="font-weight-bold">@Html.DisplayFor(modelItem => team.Name)</h4>
                    <a asp-action="TeamPlayerList" asp-route-id="@team.TeamID">Roster</a><span>&nbsp; &nbsp;| &nbsp; &nbsp;</span>
                    <a asp-controller="Fixture" asp-action="TeamFixtureList" asp-route-id="@team.TeamID">Fixtures</a>
                    @if (this.User.IsInRole("Super Admin"))
                    {
                        <span>&nbsp; &nbsp;| &nbsp; &nbsp;</span><a asp-action="Edit" asp-route-id="@team.TeamID">Edit</a><span>&nbsp; &nbsp;| &nbsp; &nbsp;</span>
                        <a asp-action="Delete" asp-route-id="@team.TeamID">Delete</a>
                    }
            </h6>
            <p id="teamBio">@Html.DisplayFor(modelItem => team.TeamBio)</p>
            <img src="@team.TeamImage" class="img-fluid" alt="Responsive image" width="1100" height="733">
        </div>

    }

