@model PlayersListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Rathfarnham Rovers Teams</h1>

@if (this.User.IsInRole("Super Admin"))
{
    <p>
        <a class="btn btn-outline-success"  asp-action="Create">Add Team</a>
    </p>
}

@foreach (var team in @Model.Teams)
{
    <div class="container" id="teamContainer">
        <div class="card" style="width: 80%" id="teamCard">
            <div class="card-img-overlay d-flex align-items-start">
                <h4 class="card-title text-white" style="font-weight:bold" id="teamName">@Html.DisplayFor(modelItem => team.Name)</h4>
            </div>
            <img class="card-img-top" src="@team.TeamImage" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">@Html.DisplayFor(modelItem => team.TeamBio)</p>
                @if (this.User.IsInRole("Super Admin"))
                {
                    <a class="btn btn-secondary" id="teamBtn" asp-action="Edit" asp-route-id="@team.TeamID">Edit</a>
                    <a class="btn btn-danger" id="teamBtn" asp-action="Delete" asp-route-id="@team.TeamID">Delete</a>
                }
           </div>
        </div>
    </div>
}

