@model PlayersListViewModel

@{
    ViewData["Title"] = "Team Player List";
}

<h1>Rovers Players</h1>
<h4>Here are all the Rovers Players</h4>
<p>
    <a asp-controller="People" asp-action="Create">Add Player</a> |
    <a asp-controller="People" asp-action="CreateMgmt">Add Management</a>
</p>

<section>
    <header><h3>
        Goalkeepers</h3></header>
            @foreach (var staff in Model.Goalkeepers)
            {
                <figure>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="@staff.ThumbnailImage" alt="">
                        <div class="caption">
                            <h6 class="pull-right">@Html.DisplayFor(modelItem => staff.PlayerPosition)</h6>
                            <label>
                                <a asp-controller="PlayerStat"
                                   asp-action="PlayerStatList"
                                   asp-route-id="@staff.PersonID">@staff.FullName</a>  
                                <div>
                                    <a asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">Edit</a> | <a asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">&nbsp;Delete</a>
                                </div>

                            </label>
                        </div>
                    </div>
                </div>
                </figure>
            }
</section>

<section>
    <header><h3>
        Defenders</h3></header>
            @foreach (var staff in Model.Defenders)
            {
                <figure>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="@staff.Image" alt="">
                            <div class="caption">
                                <h6 class="pull-right">@Html.DisplayFor(modelItem => staff.PlayerPosition)</h6>
                                <label>
                                    <a asp-controller="PlayerStat"
                                       asp-action="PlayerStatList"
                                       asp-route-id="@staff.PersonID">@staff.FullName</a>  
                                    <div>
                                        <a asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">Edit</a> | <a asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">&nbsp;Delete</a>
                                    </div>

                                </label>
                            </div>
                        </div>
                    </div>
                </figure>
            }
</section>

<section>
    <header><h3>
        Midfielders</h3></header>
            @foreach (var staff in Model.Midfielders)
            {
                <figure>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="@staff.ThumbnailImage" alt="">
                            <div class="caption">
                                <h6 class="pull-right">@Html.DisplayFor(modelItem => staff.PlayerPosition)</h6>
                                <label>
                                    <a asp-controller="PlayerStat"
                                       asp-action="PlayerStatList"
                                       asp-route-id="@staff.PersonID">@staff.FullName</a>  
                                    <div>
                                        <a asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">Edit</a> | <a asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">&nbsp;Delete</a>
                                    </div>

                                </label>
                            </div>
                        </div>
                    </div>
                </figure>
            }
</section>

<section>
    <header><h3>
        Forwards</h3></header>
            @foreach (var staff in Model.Forwards)
            {
                <figure>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="@staff.ThumbnailImage" alt="">
                            <div class="caption">
                                <h6 class="pull-right">@Html.DisplayFor(modelItem => staff.PlayerPosition)</h6>
                                <label>
                                    <a asp-controller="PlayerStat"
                                       asp-action="PlayerStatList"
                                       asp-route-id="@staff.PersonID">@staff.FullName</a>  
                                    <div>
                                        <a asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">Edit</a> | <a asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">&nbsp;Delete</a>
                                    </div>

                                </label>
                            </div>
                        </div>
                    </div>
                </figure>
            }
</section>

<section>
    <header><h3>
        Management</h3></header>
            @foreach (var staff in Model.Mgmt)
            {
                <figure>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="@staff.ThumbnailImage" alt="">
                            <div class="caption">
                                <h6 class="pull-right">@Html.DisplayFor(modelItem => staff.MgmtRole)</h6>
                                <label>
                                    <a asp-controller="PlayerStat"
                                       asp-action="PlayerStatList"
                                       asp-route-id="@staff.PersonID">@staff.FullName</a>  
                                    <div>
                                        <a asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">Edit</a> | <a asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">&nbsp;Delete</a>
                                    </div>

                                </label>
                            </div>
                        </div>
                    </div>
                </figure>
            }
</section>
