@model PlayersListViewModel

@{
    ViewData["Title"] = "Team Player List";
}

<h1>Rovers Players</h1>
<h4>Here are all the Rovers Players</h4>
<p>
    <a asp-controller = "People" asp-action="Create">Add Player</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            

        </tr>
    </thead>
    <tbody>

        @foreach (var staff in Model.Staff)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => staff.FullName)
                </td>

                <td>
                    <a asp-controller = "People" asp-action="Edit" asp-route-id="@staff.PersonID">Edit</a> |
                    <a asp-action="TeamPlayerDetails" asp-route-id="@staff.PersonID">Details</a> |
                    <a asp-controller = "People" asp-action="Delete" asp-route-id="@staff.PersonID">Delete</a>
                </td>
            </tr>

        }

    </tbody>
</table>
