@model PlayersListViewModel

@{
    ViewData["Title"] = "Team Player List";
}

<h1>@Model.CurrentTeam</h1>

@if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
{
    <p>
        <a class="btn btn-outline-success" asp-controller="People" asp-action="Create" asp-route-TeamID="@Model.TeamID">Add Player</a>
        <a class="btn btn-outline-success" asp-controller="People" asp-action="CreateMgmt" asp-route-TeamID="@Model.TeamID">Add Management</a>
        @foreach (var team in @Model.Teams)
        {
            if (team.Name == Model.CurrentTeam)
            {
                <a class="btn btn-outline-info" asp-controller="Team" asp-action="sendGridEmail" asp-route-id="@team.TeamID">Send Fixture Alert</a>
            }
        }
    </p>
}

@if (Model.Goalkeepers.Count() > 0)
{
<section>
    <header>
        <h3>
            Goalkeepers
        </h3>
    </header>
    @foreach (var staff in Model.Goalkeepers)
    {
        <div class="card" @*style="width: 18rem;"*@>
            <img class="card-img-top" src="@staff.ThumbnailImage" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                    <a class="font-weight-bold" style="color:dodgerblue" asp-controller="PlayerStat"
                       asp-action="PlayerStatList"
                       asp-route-id="@staff.PersonID">@staff.FullName</a>
                </h5>
                <p class="card-text">@Html.DisplayFor(modelItem => staff.PlayerPosition)</p>
                @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                {
                    <div>
                        <a class="btn btn-secondary" asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">Edit</a>
                        <a class="btn btn-danger" asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">Delete</a>
                    </div>
                }
            </div>
        </div>
    }
</section>
}

@if (Model.Defenders.Count() > 0)
{
    <section>
        <header>
            <h3>
                Defenders
            </h3>
        </header>
        @foreach (var staff in Model.Defenders)
        {
            <div class="card">
                <img class="card-img-top" src="@staff.ThumbnailImage" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="font-weight-bold" style="color:darkslategray" asp-controller="PlayerStat"
                           asp-action="PlayerStatList"
                           asp-route-id="@staff.PersonID">@staff.FullName</a>
                    </h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => staff.PlayerPosition)</p>
                    @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                    {
                        <div>
                            <a class="btn btn-secondary" asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">Edit</a>
                            <a class="btn btn-danger" asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">Delete</a>
                        </div>
                    }
                </div>
            </div>
        }
    </section>
}

@if (Model.Midfielders.Count() > 0)
{
    <section>
        <header>
            <h3>
                Midfielders
            </h3>
        </header>
        @foreach (var staff in Model.Midfielders)
        {
            <div class="card">
                <img class="card-img-top" src="@staff.ThumbnailImage" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="font-weight-bold" style="color:darkslategray" asp-controller="PlayerStat"
                           asp-action="PlayerStatList"
                           asp-route-id="@staff.PersonID">@staff.FullName</a>
                    </h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => staff.PlayerPosition)</p>
                    @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                    {
                        <div>
                            <a class="btn btn-secondary" asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">Edit</a>
                            <a class="btn btn-danger" asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">Delete</a>
                        </div>
                    }
                </div>
            </div>
        }
    </section>
}

@if (Model.Forwards.Count() > 0)
{
    <section>
        <header>
            <h3>
                Forwards
            </h3>
        </header>
        @foreach (var staff in Model.Forwards)
        {
            <div class="card">
                <img class="card-img-top" src="@staff.ThumbnailImage" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="font-weight-bold" style="color:darkslategray" asp-controller="PlayerStat"
                           asp-action="PlayerStatList"
                           asp-route-id="@staff.PersonID">@staff.FullName</a>
                    </h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => staff.PlayerPosition)</p>
                    @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                    {
                        <div>
                            <a class="btn btn-secondary" asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">Edit</a>
                            <a class="btn btn-danger" asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">Delete</a>
                        </div>
                    }
                </div>
            </div>
        }
    </section>
}

@if (Model.Mgmt.Count() > 0)
{
    <section>
        <header>
            <h3>
                Management
            </h3>
        </header>
        @foreach (var staff in Model.Mgmt)
        {
            <div class="card">
                <img class="card-img-top" src="@staff.ThumbnailImage" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="font-weight-bold" style="color:darkslategray" asp-controller="PlayerStat"
                           asp-action="PlayerStatList"
                           asp-route-id="@staff.PersonID">@staff.FullName</a>
                    </h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => staff.MgmtRole)</p>
                    @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                    {
                        <div>
                            <a class="btn btn-secondary" asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">Edit</a>
                            <a class="btn btn-danger" asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">Delete</a>
                        </div>
                    }
                </div>
            </div>
        }
    </section>
}

<p class="font-weight-bold">Total Players:  @ViewBag.TeamNumbers</p>