@model PlayersListViewModel

@{
    ViewData["Title"] = "Team Player List";
}

<h1>Rovers Players</h1>
<h4>Here are all the Rovers Players</h4>
<p>
    <a asp-controller = "People" asp-action="Create">Add Player</a>
</p>

<table class="table">
    <tbody>

        <section>
            <header>
                Goalkeepers<header>
                    @foreach (var staff in Model.Goalkeepers)
                    {
                        <div>
                            <p>@Html.DisplayFor(modelItem => staff.FullName)<a asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">&nbsp;Edit</a> |<a asp-controller="PlayerStat" asp-action="PlayerStatList" asp-route-id="@staff.PersonID">&nbsp;Details</a> |<a asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">&nbsp;Delete</a></p>
                        </div>
                    }
        </section>

        <section>
            <header>
                Defenders<header>
                    @foreach (var staff in Model.Defenders)
                    {
                        <div>
                            <p>@Html.DisplayFor(modelItem => staff.FullName)<a asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">&nbsp;Edit</a> |<a asp-controller="PlayerStat" asp-action="PlayerStatList" asp-route-id="@staff.PersonID">&nbsp;Details</a> |<a asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">&nbsp;Delete</a></p>
                        </div>
                    }
        </section>

        <section>
            <header>
                Midfielders<header>
                    @foreach (var staff in Model.Midfielders)
                    {
                        <div>
                            <p>@Html.DisplayFor(modelItem => staff.FullName)<a asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">&nbsp;Edit</a> |<a asp-controller="PlayerStat" asp-action="PlayerStatList" asp-route-id="@staff.PersonID">&nbsp;Details</a> |<a asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">&nbsp;Delete</a></p>
                        </div>
                    }
        </section>

        <section>
            <header>
                Forwards<header>
                    @foreach (var staff in Model.Forwards)
                    {
                        <div>
                            <p>@Html.DisplayFor(modelItem => staff.FullName)<a asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">&nbsp;Edit</a> |<a asp-controller="PlayerStat" asp-action="PlayerStatList" asp-route-id="@staff.PersonID">&nbsp;Details</a> |<a asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">&nbsp;Delete</a></p>
                        </div>
                    }
        </section>
    </tbody>
</table>
