@model PlayersListViewModel

@{
    ViewData["Title"] = "Team Player List";
}

<h1>@Model.CurrentTeam</h1>

@if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
{
    <p>
        <a asp-controller="People" asp-action="Create" asp-route-TeamID="@Model.TeamID">Add Player</a><span>&nbsp; &nbsp;| &nbsp; &nbsp;</span>
        <a asp-controller="People" asp-action="CreateMgmt">Add Management</a>
        @foreach (var team in @Model.Teams)
        {
            if (team.Name == Model.CurrentTeam)
            {
                <span>&nbsp; &nbsp;| &nbsp; &nbsp;</span><a asp-controller="Team" asp-action="sendGridEmail" asp-route-id="@team.TeamID">Send Fixture Alert</a><span>&nbsp; &nbsp;&nbsp; &nbsp;</span>
            }
        }
    </p>
}

@if (Model.Goalkeepers.Count() > 0)
{
    <section>
        <header>
            <h3>
                Goalkeepers
            </h3>
        </header>
        @foreach (var staff in Model.Goalkeepers)
        {
            <figure>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/@staff.ThumbnailImage" alt="">
                        <div class="caption">
                            <h6 class="pull-right">@Html.DisplayFor(modelItem => staff.PlayerPosition)</h6>
                            <label>
                                <a class="font-weight-bold" style="color:darkslategray" asp-controller="PlayerStat"
                                   asp-action="PlayerStatList"
                                   asp-route-id="@staff.PersonID">@staff.FullName</a>
                                @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                                {
                                    <div>
                                        <a asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">Edit</a><span>&nbsp;|&nbsp;</span><a asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">Delete</a>
                                    </div>
                                }

                            </label>
                        </div>
                    </div>
                </div>
            </figure>
        }
    </section>
}

@if (Model.Defenders.Count() > 0)
{
    <section>
        <header>
            <h3>
                Defenders
            </h3>
        </header>
        @foreach (var staff in Model.Defenders)
        {
            <figure>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/@staff.ThumbnailImage" alt="">
                        <div class="caption">
                            <h6 class="pull-right">@Html.DisplayFor(modelItem => staff.PlayerPosition)</h6>
                            <label>
                                <a class="font-weight-bold" style="color:darkslategray" asp-controller="PlayerStat"
                                   asp-action="PlayerStatList"
                                   asp-route-id="@staff.PersonID">@staff.FullName</a>
                                @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                                {
                                    <div>
                                        <a asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">Edit</a><span>&nbsp;|&nbsp;</span><a asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">Delete</a>
                                    </div>
                                }

                            </label>
                        </div>
                    </div>
                </div>
            </figure>
        }
    </section>
}

@if (Model.Midfielders.Count() > 0)
{
    <section>
        <header>
            <h3>
                Midfielders
            </h3>
        </header>
        @foreach (var staff in Model.Midfielders)
        {
            <figure>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/@staff.ThumbnailImage" alt="">
                        <div class="caption">
                            <h6 class="pull-right">@Html.DisplayFor(modelItem => staff.PlayerPosition)</h6>
                            <label>
                                <a class="font-weight-bold" style="color:darkslategray" asp-controller="PlayerStat"
                                   asp-action="PlayerStatList"
                                   asp-route-id="@staff.PersonID">@staff.FullName</a>
                                @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                                {
                                    <div>
                                        <a asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">Edit</a><span>&nbsp;|&nbsp;</span><a asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">Delete</a>
                                    </div>
                                }

                            </label>
                        </div>
                    </div>
                </div>
            </figure>
        }
    </section>
}

@if (Model.Forwards.Count() > 0)
{
    <section>
        <header>
            <h3>
                Forwards
            </h3>
        </header>
        @foreach (var staff in Model.Forwards)
        {
            <figure>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/@staff.ThumbnailImage" alt="">
                        <div class="caption">
                            <h6 class="pull-right">@Html.DisplayFor(modelItem => staff.PlayerPosition)</h6>
                            <label>
                                <a class="font-weight-bold" style="color:darkslategray" asp-controller="PlayerStat"
                                   asp-action="PlayerStatList"
                                   asp-route-id="@staff.PersonID">@staff.FullName</a>
                                @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                                {
                                    <div>
                                        <a asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">Edit</a><span>&nbsp;|&nbsp;</span><a asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">Delete</a>
                                    </div>
                                }

                            </label>
                        </div>
                    </div>
                </div>
            </figure>
        }
    </section>
}

@if (Model.Mgmt.Count() > 0)
{
    <section>
        <header>
            <h3>
                Management
            </h3>
        </header>
        @foreach (var staff in Model.Mgmt)
        {
            <figure>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/@staff.ThumbnailImage" alt="">
                        <div class="caption">
                            <h6 class="pull-right">@Html.DisplayFor(modelItem => staff.MgmtRole)</h6>
                            <label>
                                <a class="font-weight-bold" style="color:darkslategray" asp-controller="PlayerStat"
                                   asp-action="PlayerStatList"
                                   asp-route-id="@staff.PersonID">@staff.FullName</a>
                                @if ((this.User.IsInRole("Super Admin")) || (this.User.IsInRole(Model.CurrentTeam)))
                                {
                                    <div>
                                        <a asp-controller="People" asp-action="Edit" asp-route-id="@staff.PersonID">Edit</a><span>&nbsp;|&nbsp;</span><a asp-controller="People" asp-action="Delete" asp-route-id="@staff.PersonID">Delete</a>
                                    </div>
                                }

                            </label>
                        </div>
                    </div>
                </div>
            </figure>
        }
    </section>
}

<p class="font-weight-bold">Total Players:  @ViewBag.TeamNumbers</p>